<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title *ngIf="isSearchbarOpend">
              Home
            </ion-title>
            <ion-searchbar *ngIf="isSearchbarOpend" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpend=false"></ion-searchbar>
            <ion-buttons end>
              <button ion-button icon-only *ngIf="!isSearchbarOpend" (click)="isSearchbarOpend=true">
                <ion-icon name="search"></ion-icon>

              </button>
            </ion-buttons>
          <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the
    <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
